#button-list-hide{
    display: "none";
}

body
{
    transition: 5s;
    background-color: purple;
}

.round-button {
    border: none;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 10px; 
    border-radius: 100px;
    box-shadow: 2px 2px 0 0 black;
    display: "none";
}

.civ-button
{
    border-radius: 8px;
}